.brand {
	color: #2f2f2f;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	max-width: fit-content;
	font-weight: 500;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 20em;
}

.link {
	margin: 0 16px;
	color: #858585;
	text-decoration: none;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	color: #3f3f3f;
	background-color: #e2dcdc;
	border-radius: 4px;
}

.search-results-paper {
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translateX(-36em);
	z-index: 1;
	margin-top: 4px;
	width: 35em;
}